Ans 1.

In [1]:
l= [1,3,5,6,8,9,0,532]

In [2]:
result= 0
for i in l:
    result= result + i
    print(result)

1
4
9
15
23
32
32
564

In [3]:
a=1
while a<=10 :
    print(a)
    a= a+1

1
2
3
4
5
6
7
8
9
10

Ans 2.

In [4]:
l1 = [1,2,3,4,5,6,7,8,9,0]

In [7]:
result= 0
for i in l1:
    result = result+i
result

45

Ans 3.

In [2]:
units = int(input("Enter the units of electricity consumed: "))
if units <= 100:
    bill = units * 4.5
elif units<= 200:
    bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print( "bill Rs.",bill)

Enter the units of electricity consumed:  310

bill Rs. 2250.0

Ans 4.

In [7]:
numbers = list(range(1,101))
result= []
for i in numbers:
    cube = i ** 3 
    if cube %4== 0 or cube%5==0:
        result.append(i)
result

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Ans 5.

In [36]:
string = "I want to become a data scientist"
vowel =['a','e','i','o','u']
count = 0
for i in string:
    if i.lower() in vowel:
        count += 1
print(count)

12